<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/_assets/css/workbook.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %> as of <%= date %>, that is. </p>
    <%- work %>
  </body>
</html>
